.python-version
nbproject/
docs/_build/
build/
dist/
.coverage
*.html
*.pyc
*.so
.idea
*.egg-info/
*~
*#
.tox
*.DS_Store*
nosetests.xml
*/coverage.xml
*.komodoproject
*.cbp
*.layout
schematic
*.o
*.so
